{{#if user}}

<section>
    <div class="user-wrapper">

        <div class="user-text">
            <h2>PokéSlapper</h2>
            <h1>{{user.dataValues.user_name}}</h1>
            <div class="avatar-display">
                <img src={{charStats.sprite}} alt="avatar">
            </div>
            <div class="stats">
                <span id="level">Level: {{charStats.level}}</span>
                <span id="attack-stat">speed: {{charStats.speed_stat}}</span>
                <span id="defense-stat">Attack: {{charStats.attack_stat}}</span>
                <span id="speed-stat">Defense: {{charStats.defense_stat}}</span>
            </div>
        </div>

</section>
<section class="settings">
    <h3>Settings</h3>
    <p>Choose your sprite</p>
</section>

</div>

<div class="button-container">
    <button id="playBtn">start slapping</button>
</div>

{{else}}

<section class="login-reg-container">
    <a href="/login"><span id="login-link">>Login</span></a>
    <a href="/register"><span id="register-link">>Register</span></a>
</section>

{{/if}}