{{#if user}}

<section>
    <div class="user-wrapper">

        <div class="user-text">
            <h2>PokéSlapper</h2>
            <h1>{{user.dataValues.user_name}}</h1>
            <div class="avatar-display">
                <img src={{charStats.sprite}} alt="avatar">
            </div>
            <div class="avatar-display">
                <img src="ash.png" alt="avatar">
            </div>
            <div class="stats">
                <span id="level">Level: {{charStats.level}}</span>
                <span id="attack-stat">speed: {{charStats.speed_stat}}</span>
                <span id="defense-stat">Attack: {{charStats.attack_stat}}</span>
                <span id="speed-stat">Defense: {{charStats.defense_stat}}</span>
            </div>
        </div>

</section>
<section class="settings">
    <h3>Settings</h3>
    <p>Choose your sprite</p>
    <div class="sprite-container">
        <img src="ash.png" alt="ash-sprite">
        <img src="ballguy.png" alt="ballguy-sprite">
        <img src="blaine.png" alt="blaine-sprite">
        <img src="boarder.png" alt="boarder-sprite">
        <img src="bugcatcher-gen3.png" alt="bugcatcher-sprite">
        <img src="chuck.png" alt="chuck-sprite">
        <img src="cynthia-gen4.png" alt="cynthia-sprite">
        <img src="gentleman-gen4.png" alt="gentleman-sprite">
        <img src="guitarist-gen3.png" alt="guitarist-sprite">
        <img src="lady.png" alt="lady-sprite">
        <img src="linebacker.png" alt="linebacker-sprite">
        <img src="lyra.png" alt="lyra-sprite">

</section>

</div>

<div class="button-container">
    <button id="playBtn">start slapping</button>
</div>

{{else}}

<section class="login-reg-container">
    <a href="/login"><span id="login-link">>Login</span></a>
    <a href="/register"><span id="register-link">>Register</span></a>
</section>

{{/if}}