<div class="center-wrapper">
    <div class="game-container " >
        <h1 class="round-count">Round: <span id="level">{{opponent.dataValues.id}}</span></h1>
        <div class="game-over">
            <h1 id="gameOver">GAME OVER</h1>
        </div>
        
        <div class="button-container">
            <button id="replayBtn">play again</button>
        </div>
        <div id="player-stats">
            <span class="hp-stat" >{{playerName.dataValues.user_name}} HP: <span id="plyHp">{{player.dataValues.hp_stat}}</span></span>
        </div>
        <h2 id="pokeMiss">*DODGE*</h2>
        <h2 id="pokeCrit">*CRITICAL*</h2>
        <h2 id="plyrHit"></h2>
        <img src="{{player.dataValues.sprite}}" id="player" alt="player's sprite">
        
        <div id="poke-stats">
            <span class="hp-stat"> <span id="oppName">{{opponent.dataValues.pokemon_name}}</span> HP: <span id="oppHp">{{opponent.dataValues.hp_stat}}</span></span>
        </div>
        <h2 id="plyrMiss" >*DODGE*</h2>
        <h2 id="plyrCrit" >*CRITICAL*</h2>
        <h2 id="pokeHit"></h2>
        <img src="{{opponent.dataValues.sprite}}" id="poke" alt="pokemon sprite">
    
    </div>
    <h1>press spacebar to slap your opponent</h1>
    
</div>
<script>
    let plyHp = {{player.dataValues.hp_stat}};
    let plyAtk = {{player.dataValues.attack_stat}};
    let plyDef = {{player.dataValues.defense_stat}};
    let plySpd = {{player.dataValues.speed_stat}}
    let plyLevel = {{player.dataValues.level}};
    let oppHp = {{opponent.dataValues.hp_stat}};
    let oppAtk = {{opponent.dataValues.attack_stat}};
    let oppDef = {{opponent.dataValues.defense_stat}};
    let oppSpd = {{opponent.dataValues.speed_stat}};
    let oppExp = {{opponent.dataValues.experience}}
    let baseHp = {{player.dataValues.base_hp}};
    let baseAtk = {{player.dataValues.base_attack}};
    let baseDef = {{player.dataValues.base_defense}};
    let baseSpd = {{player.dataValues.base_speed}};


</script>
<script src="/js/front.js"></script>
   


