<div class="center-wrapper">

    
    <div class="game-container">
        <div class="player">
            <div class="player-sprite">
                <img src="{{playerName.dataValues.sprite}}" alt="player's sprite">
            </div>
            <div class="player-stats">
                <span class="hp-stat">{{playerName.dataValues.user_name}} HP: {{player.dataValues.hp_stat}}</span>
            </div>
        </div>
        <div class="poke">
            <div class="poke-sprite">
                <img src="{{opponent.dataValues.sprite}}"alt="pokemon sprite">
            </div>
            <div class="poke-stats">
                <span class="hp-stat"> {{opponent.dataValues.pokemon_name}} HP: {{opponent.dataValues.hp_stat}}</span>
            </div>
        </div>
    </div>

</div>
